@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

/* Variables */
:root {
  --color-primary: hsl(47, 88%, 63%);
}

/* Basic Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* General Styles */

body {
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
  background-color: var(--color-primary);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 327px;
  height: 501px;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: 24px;
}

.card-illustration {
  width: 279px;
  height: 200px;
  background-image: url(/assets/images/illustration-article.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.card-content__category {
  background-color: var(--color-primary);
  display: inline-block;
  width: 73px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 900;
  border-radius: 4px;
}

.card-content__publish-date {
  font-size: 12px;
  font-weight: 400;
}

.card-content__title {
  font-size: 20px;
  font-weight: 900;
  color: hsl(0, 0%, 7%);
}

.card-content__title:hover,
.card-content__title:focus-visible {
  color: var(--color-primary);
  cursor: pointer;
}

.card-content__description {
  font-size: 14px;
  line-height: 150%;
  color: hsl(0, 0%, 50%);
}

.card-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.card-author__profile-pic {
  width: 32px;
  height: auto;
}

.card-author__username {
  font-size: 14px;
  font-weight: 900;
}

@media screen and (min-width: 1440px) {
  .card {
    width: 384px;
    height: 522px;
    box-shadow: 16px 16px 0 0 hsl(0, 0%, 7%);
  }

  .card-illustration {
    width: 336px;
    height: 200px;
  }

  .card-content__category {
    font-size: 14px;
    height: 29px;
    width: 82px;
  }

  .card-content__publish-date {
    font-size: 14px;
    font-weight: 600;
  }

  .card-content__description {
    font-size: 16px;
  }
}
